

<script>

function sum(num1,num2=20){

    document.write(num1+num2 + "<br/>");
}
//calling function
sum(4,6);
sum(500);
sum(50,12);


</script>

<h3>function return statement</h3>

<script>

    function multipy(x,y){
        return x*y;
    }
  document.write(multipy(4,5))

</script>