

    <form action="" name="myform" onsubmit="validateForm()">
        <p>Enter your password:

            <input type="password" name="pass">
        </p>
        <button type="submit">Submit</button>
    </form>





<script>

 let company = "  PeopleNtech     Bangladesh,     PeopleNtech    ltd";

 //document.write(company.replace(/PeopleNtech/g,'Hello'))
 document.write(company.trim())

    // function validateForm(){
    //    let password = document.myform.pass.value;

    //    if(password.length < 4){
    //         alert('Password at least 4 digit')
    //    }else{
    //        console.log(password)
    //    }

    // }

</script>