
    <h2 id="demo"></h2>
<script>


    var d = new Date();

    var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];


    document.getElementById("demo").innerHTML = days[d.getDay()];
  

    </script>