


<script type="text/javascript">
    window.onload = function () {
        DisplayCurrentTime();
    };

    function DisplayCurrentTime() {
        var date = new Date();

        var hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();
        var am_pm = date.getHours() >= 12 ? "PM" : "AM";


        hours = hours < 10 ? "0" + hours : hours;


        var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();

        var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

        time = hours + ":" + minutes + ":" + seconds + " " + am_pm;

        var lblTime = document.getElementById("lblTime");

        lblTime.innerHTML = time;
    };
</script>
<span id="lblTime"></span>

<hr>
<script>
    let x =20;
        // if(x < 20){
        //     alert('true')
        // }else{
        //     alert('false') 
        // }

      //  (x > 18)? alert('true') : alert('false');

       
</script>